<div class="stars-section">
	<div class="predicted-rating">
	<p>Predicted Rating</p>
		<i class="fa fa-star-o predicted"></i>
		<i class="fa fa-star-o predicted"></i>
		<i class="fa fa-star-o predicted"></i>
		<i class="fa fa-star-o predicted"></i>
		<i class="fa fa-star-o predicted"></i>
	</div>
	<div class="true-rating">
	<p>Your Rating</p>
		<div class="select-stars">
			<i class="fa fa-star-o star-select"></i>
			<i class="fa fa-star-o star-select"></i>
			<i class="fa fa-star-o star-select"></i>
			<i class="fa fa-star-o star-select"></i>
			<i class="fa fa-star-o star-select"></i>
		</div>
	</div>
</div>